@import "grilles/grille.css";

body{
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow: hidden;
}

header{
  padding: var(--baseUnit);
  background: var(--backgroundColor);
}
.desc{
  max-width: 22rem;
}
.icons{
  margin-bottom: var(--baseUnit);
  margin-left: auto;
}
.icons svg{
  width: 1.5rem;
  height: 1.5rem;
}
.github{
  margin-left: 1rem;
}
.m-el {
  display: flex;
  overflow-y: scroll;
  background: var(--backgroundColor);
  padding: 2rem 1rem 2rem 5rem;
  align-items: flex-start;
  /* margin: 0 calc(-1 * var(--bodyPadding)); */
}
.browser-support{
  background-color: rgba(var(--yellow-rgb),0.8);
  color: black;
  padding: 1rem;
}

.m-el:nth-child(odd) {
  background: rgba(var(--foregroundColor-rgb), 0.02);
}

.m-eq{
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-left: 1px solid rgba(var(--foregroundColor-rgb), 0.1);
}
.m-in-eq{
  flex: 1 1 0;
  overflow-y: scroll;
}


@media only screen and (max-width:910px){
  .desc{
    max-width: 33rem;
  }

  .m-in-eq{
    flex: 0;
    flex-shrink: 1;
    overflow-y: hidden;
  }
  
  body{
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
  }
  .m-el{
    padding: 2rem 1rem;
    justify-content: center;
  }
  .m-eq{
    border-left: none;
  }
}
